
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased selection:bg-red-200 selection:text-red-900 bg-[#fcfaf7] dark:bg-[#060a13];
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, .font-serif {
    font-family: 'Cinzel', serif;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dark .glass {
  background: rgba(13, 19, 33, 0.7);
}
